/*************** Import ************/
@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*********** Reset ************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

html {
  scroll-behavior: smooth;
}

/********** Header ************/

#container {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), #675afe),
    url("../images/image-ban.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 10%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

header .logo p {
  font-size: 70px;
  color: #fff;
  font-family: "Island Moments";
  font-weight: bold;
}

header .menu {
  display: flex;
  list-style: none;
}

header .menu li {
  margin: 0 15px;
}

header .menu li a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

/********* Hero **********/
.container-hero {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-hero h1 {
  color: #fff;
  font-size: 70px;
  text-transform: capitalize;
  font-family: "Kaushan Script";
}

.container-hero p {
  color: #fff;
  font-size: 16px;
  margin: 20px 0 30px 0;
}
.container-hero a {
  color: #fff;
  text-decoration: 0;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: 0.5s;
}

.container-hero a:hover {
  letter-spacing: 1px;
}

/*** Scrollbar ***/
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

/******** Section à propos ************/
#about {
  height: 100vh;
}
