/*************** Import ************/
@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*********** Reset ************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

html {
  scroll-behavior: smooth;
}

/********** Header ************/

#container {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), #675afe),
    url("../images/image-ban.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 10%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

header .logo p {
  font-size: 70px;
  color: #fff;
  font-family: "Island Moments";
  font-weight: bold;
}

header .menu {
  display: flex;
  list-style: none;
}

header .menu li {
  margin: 0 15px;
}

header .menu li a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

/********* Hero **********/
.container-hero {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-hero h1 {
  color: #fff;
  font-size: 70px;
  text-transform: capitalize;
  font-family: "Kaushan Script";
}

.container-hero p {
  color: #fff;
  font-size: 16px;
  margin: 20px 0 30px 0;
}
.container-hero a {
  color: #fff;
  text-decoration: 0;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: 0.5s;
}

.container-hero a:hover {
  letter-spacing: 1px;
}

/*** Scrollbar ***/
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

/******** Section à propos ************/
#about {
  height: 100vh;
  margin: 0 10%;
}

.title-section {
  text-align: center;
  margin-top: 50px;
  text-transform: uppercase;
  font-weight: bold;
  color: #675afe;
  font-size: 25px;
}

.subtitle {
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
}
.describe-photo {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  height: 358px;
}

.describe-photo .desc {
  width: 60%;
}

.describe-photo .desc h2 {
  text-align: center;
  margin: 50px 0;
}

.list-services {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.service {
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 100%;
  transition: 0.5s;
  cursor: pointer;
}

.service:hover {
  background-color: #675afe;
}

.service i {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 26 rgba(0, 0, 0, 0.1);
  border: 2px solid #675afe;
  border-radius: 50%;
  color: #675afe;
  transition: 0.5s;
}

.service:hover i {
  background-color: #fff;
}

.service p {
  margin-top: 25px;
}

.service:hover p {
  color: #fff;
}

.describe-photo img {
  width: 28%;
  border-radius: 20px;
}

/************* Galerie *************/
#gallery {
  height: 100vh;
  width: 100%;
}

.list-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0 22.5%;
}

.list-photos .gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.list-photos .gallery-img {
  width: 49%;
  border-radius: 10px;
  position: relative;
  margin-bottom: 1%;
  overflow: hidden;
  cursor: pointer;
}

.list-photos .gallery-img:hover img {
  transform: scale(1.2);
}

.country {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.country p {
  font-weight: bold;
  font-size: 30px;
}

.list-photos .gallery-img:hover .country {
  opacity: 1;
}

/*********** Section contact *****************/

#contact {
  height: 100vh;
  margin: 0 10%;
  width: 80%;
}

#contact div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 100px);
}

#contact form {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  transition: 0.5s;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}

#contact form:hover {
  background-color: #675afe;
}
label {
  padding: 5px 0;
}
form:hover label {
  color: #fff;
}

textarea,
input {
  padding: 5px;
  outline: 0;
  border-radius: 6px;
  border: 2px solid #675afe;
}

textarea {
  margin-bottom: 10px;
  resize: none;
}

input[type="submit"] {
  background-color: #675afe;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.5s;
}

input[type="submit"]:hover {
  border: 2px solid #fff;
}
.social {
  height: 100%;
  flex-basis: 10%;
}

.social ul {
  list-style: none;
  margin: 0 auto;
}

.social ul li {
  margin: 25px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #675afe;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}
.social ul li:hover {
  background-color: #675afe;
  transform: scale(1.2);
}

.social ul li a i {
  font-size: 18px;
  color: #675afe;
}

.social ul li:hover i {
  color: #fff;
}
.images-contact {
  flex-basis: 60%;
}

.images-contact img {
  width: 100%;
  height: 400px;
  border-radius: 20px;
}
